################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/FutureProj/Api/bin
/FutureProj/Api/obj
/FutureProj/Api/Properties/PublishProfiles
/FutureProj/Api/files/wxqrcode
/FutureProj/Api.Doc/bin
/FutureProj/Api.Doc/obj
/FutureProj/Api.Doc/Properties/PublishProfiles
/FutureProj/Console/bin
/FutureProj/Console/obj
/FutureProj/EF.Common/bin/Release
/FutureProj/EF.Common/obj
/FutureProj/EF.Console/bin
/FutureProj/EF.Console/obj
/FutureProj/EF.edmx/bin/Release
/FutureProj/EF.edmx/obj
/FutureProj/EF.Entitys/bin
/FutureProj/EF.Entitys/obj
/FutureProj/EF.IRespository/bin
/FutureProj/EF.IRespository/obj
/FutureProj/EF.IService/bin
/FutureProj/EF.IService/obj
/FutureProj/EF.Respository/bin
/FutureProj/EF.Respository/obj
/FutureProj/EF.Service/bin
/FutureProj/EF.Service/obj
/FutureProj/Notify/bin
/FutureProj/Notify/obj
/FutureProj/Notify/Properties/PublishProfiles
/FutureProj/obj/Debug
/FutureProj/OutPut
/FutureProj/packages
/FutureProj/PayCenter/bin
/FutureProj/PayCenter/obj
/FutureProj/PayCenter/Properties/PublishProfiles
/FutureProj/Serv/bin
/FutureProj/Serv/obj
/FutureProj/WinService/bin
/FutureProj/WinService/obj
/FutureProj/.vs
/.vs/Proj/v15
/FutureProj/Future.UI/bin
/FutureProj/Future.UI/obj/Release
/FutureProj/Future.UI/Properties
