<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WSTradeQuerySoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://newpay.ips.com.cn:80/psfp-entry/services/trade"
                binding="basicHttpBinding" bindingConfiguration="WSTradeQuerySoapBinding"
                contract="HuanXunWebService.TradeQueryService" name="WSTradeQuerySoap" />
        </client>
    </system.serviceModel>
</configuration>