html {
    width: 100%
}

body {
    -webkit-user-select: initial;
    background-color: #f2f2f2;
    width: 100%
}
.index-wrap {
    width: 100%;
    overflow-x: hidden
}

    .index-wrap .header {
        background-color: #F7F7F7;
        height: 50px;
        width:100%;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-box-align: center;
        -webkit-box-pack: center
    }

    .index-wrap .footer {
        height: 55px;
        width: 100%;
        display: -webkit-box;
        -webkit-box-align: center;
        -webkit-box-pack: center;
        background-color: #F7F7F7
    }

.adlogo {
    margin-left:12px;
    width: 70px;
    height: 45px;
    background: url(../images/FAI.png) no-repeat;
    -webkit-background-size: 100% auto;
    background-size: 100% auto
}
.userimg {
    width: 40px;
    height: 40px;
    background: url(../images/userh.png) no-repeat;
    background-size: 100% auto;
}

.overlayload {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -65px;
    margin-top: -55px;
}
#ntabcontent {
}
#ntabcontent .nimg{
    width:70px;
    height:70px;
}

#cdcontent {
}
#monthlist {
    line-height: 40px;
    text-align: center;
}
    #monthlist .current {
        background-color: lightcoral;
    }
.ui-table {
    line-height: 40px;
    text-align: center;
    background-color: #fff;
}
    .ui-table .fcol {
        background-color: #fcfcfc;
        width:30%;
        overflow:hidden;
    }
.contentb {
    margin-bottom:55px;
}
.ui-actionsheet-cnt h4 {
    color: #7CAE23;
    letter-spacing: 2px;
}